body{
    margin: 0;
    padding: 0;
}
section.top{
    margin: 0 auto; 
    display: flex;
    padding: 0 9.5%;
    margin-top: 40px;
    justify-content: space-between;
}
.halfwidth{
    width: 40%;
}
.heading-text{
    display:flex;
}
#line{
    background-color: #FF5959;
    width: 4px;
    height: 120px;
    margin-top: 60px;
    border-radius: 2px;

}
.heading-text h1{
    font-family: 'Yeseva One', serif;
    font-size: 60px;
    margin-left: 15px;
    
}
.yellow-text{
    color: orangered;
}
.halfwidth img{
    width: 100%;
}
.halfwidth p{
    color: #3E3E3E;
    font-family: 'Poppins', sans-serif;
}
.btn{
    background-color: #FF5959;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    padding: 12px 20px;
}
.halfwidth h6{
    color: rgb(78, 78, 78);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.pop{
    font-family: 'Poppins', sans-serif;;
}
.mission h1, .extra-section h2{
    text-align:center;
    color: #13103A;
    font-size: 36px;
 
}
.mission{
    margin-top: 45px;
}
.cards{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.single-card{
    width: 20%;
    padding: 20px;
    margin: 1.25%;
    border-radius: 15px;
}
.single-card img{
    width: 50%;
}
.single-card p{
    color: #424242;
}
#left{
    background-color: #4f9da61f;
}          
#center{
    background-color: #ff59591f;
} 
#right{
    background-color: #fff4d6;
}
.personal{
    display: flex;
    padding: 0 9.5%;
    margin-top: 150px;
}
.personal img{
    width: 33%;

}
.person{
    margin-left: 50px;
    text-align: left;
    display: inline-block;
    height: 100%;
    margin-top: 50px;
    align-items: center;
}
.person h1{
    font-size: 48px;
    color: #333333;

}
.pesron-right{
    text-align: right;
    margin-right: 50px;
}
footer{
    background-color: #0b0d18;
    text-align: center;
    color: white;
    padding: 30px 0 50px 0 ;
}
footer h2{
    font-family: 'Lobster Two';
    font-size: 48px;
    color: white;
}
footer h2 span{
    color:tomato;
}
footer p{
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 15px;
}
#email{
    height: 40px;
    padding: 4px;
    border: 2px solid tomato;
    border-radius: 5px;
    width: 350px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 700px;
}
.subscribe{
    margin-bottom: 60px;
}
#p-top{
   background-image: url("images/bg.png");
   background-size: 275px;
   background-repeat: no-repeat;
   background-position: left;
   background-position-x: 75px;
   background-position-y: 40px;
}
#p-bottom{
    background-image: url("images/bg.png");
    background-size: 275px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 300px;
    padding-bottom: 90px;
   
 }