body{
    margin:0;
    padding: 0;
}
section{
    margin: 0 auto; 
    display: flex;
    padding: 0 9.5%;
    margin-top: 40px;
    justify-content: space-between;
}
.halfwidth{
    width: 40%;
}
.heading-text{
    display:flex;
}
#line{
    background-color: #FF5959;
    width: 4px;
    height: 120px;
    margin-top: 60px;
    border-radius: 2px;

}
.heading-text h1{
    font-family: 'Yeseva One', serif;
    font-size: 60px;
    margin-left: 15px;
    
}
.yellow-text{
    color: orangered;
}
.halfwidth img{
    width: 100%;
}
.halfwidth p{
    color: #3E3E3E;
    font-family: 'Poppins', sans-serif;
}
.btn{
    background-color: #FF5959;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    padding: 12px 20px;
}
.halfwidth h6{
    color: rgb(78, 78, 78);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.pop{
    font-family: 'Poppins', sans-serif;;
}
.missions h1{
    text-align:center;
 
}
